{% extends 'base.html.twig' %}
{% block body %}
<li>Nom : {{ detailUtilisateur.name }}</li>
<li>Prenom : {{ detailUtilisateur.firstname }}</li>
<li>Age : {{ detailUtilisateur.age }}</li>
<li>Newsletter : {{ detailUtilisateur.newsletter }}</li>
{% endblock %}