{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<h1>Mes articles de blog</h1>

    <div>
        <main>

        </main>

        <aside>
            {% include './includes/sidebar.html.twig' %}
        </aside>
    </div>
    {# the image lives at "public/images/logo.png" #}
    <img src="{{ asset('img/chad.png') }}" alt="Symfony!"/>
    <link href="{{ asset('css/blog.css') }}" rel="stylesheet"/>
    <script src="{{ asset('bundles/acme/js/loader.js') }}"></script>
{% endblock %}