{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div>
        {% if name is defined %}
            <h1>
                Bonjour {{ name }}
            </h1>
        {% endif %}

        {% if city is defined and city is not empty %}
            <p>
                Vous êtes sur la ville de {{ city }}
            </p>
        {% endif %}
    </div>



    {# the CSS file lives at "public/css/blog.css" #}
    <link href="{{ asset('css/contact.scss') }}" rel="stylesheet"/>

    {# the JS file lives at "public/bundles/acme/js/loader.js" #}
    <script src="{{ asset('bundles/acme/js/loader.js') }}"></script>
{% endblock %}
